.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.App-intro {
  font-size: large;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: center;
}

.selector-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border: 1px solid gray;

}

.selector-container--analysis {
  height: 200px;
  width: 800px;
  border: '1px solid black';
}

.visualize-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;

}